/* .detailed-event__container {
    margin: 4rem 2.5rem;
} */

.detailed-event__container {
    margin-top: 6rem;
}
.detailed-event__info {
    width: 50%;
    margin: 0 auto;
}

.comment__container--actions {
    display: flex;
    width: 50%;
    margin: 0 auto;
    flex-direction: column;
}

.comment__container--actions textarea {
    height: 6rem;
    margin-bottom: 1rem;
}

.comment__container--actions button.btn {
    margin-right: 0;
}